@charset "UTF-8";
/**
 * author: MartinCui
 * name: TraceHub
 * use: TraceHub
 **/
.color_red {
  color: #f00 !important; }

.left {
  float: left; }

.right {
  float: right; }

.fontweight {
  font-weight: bold; }

.clearfix {
  *zoom: 1; }

.tl {
  text-align: left; }

.tc {
  text-align: center; }

.tr {
  text-align: right; }

.clearfix:before, .clear:after {
  content: ' ';
  height: 0;
  display: table;
  font-size: 0;
  visibility: hidden; }

.clearfix:after {
  clear: both; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

ul, li {
  list-style: none; }

input {
  outline: 0 none; }

a, a:visited, a:link {
  color: #222;
  text-decoration: none; }

a:hover {
  color: #222;
  text-decoration: none; }

*, *:before, *:after {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-touch-action: pan-y; }

body, html {
  -ms-overflow-style: none !important;
  width: 100%;
  height: 100%;
  overflow: hidden; }

body {
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  font-family: '微软雅黑', 'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #222;
  font-size: 62.5%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  background: #f7f7f5; }

.view {
  display: block;
  overflow-x: hidden;
  height: 100%;
  width: 100%; }

header {
  width: 100%;
  height: 3rem;
  color: #fff;
  background-color: #2CC2E7; }
  header h1 {
    max-width: 960px;
    height: 3rem;
    line-height: 3rem;
    margin-left: auto;
    margin-right: auto; }
    header h1 small {
      font-size: .875rem;
      font-weight: normal; }

section.search {
  width: 100%;
  height: 7rem;
  border-bottom: 1px solid #eee;
  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(100, 100, 100, 0.6); }
  section.search div.search-field {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    height: 7rem; }
    section.search div.search-field ul {
      width: 10%;
      float: left;
      height: 5rem;
      margin-top: 1rem; }
      section.search div.search-field ul li {
        width: 100%;
        height: 2.2rem;
        line-height: 2.2rem;
        background-color: #ccc;
        color: #fff;
        text-align: center;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        display: none;
        float: left; }
      section.search div.search-field ul li.active {
        background-color: #2CC2E7 !important; }
      section.search div.search-field ul li:last-child {
        margin-top: .3rem; }
    section.search div.search-field .search-area {
      width: 90%;
      height: 7rem;
      float: left;
      border-left: 1px solid #f5f5f5; }
      section.search div.search-field .search-area p {
        width: 100%;
        height: 3rem;
        margin-top: .5rem; }
        section.search div.search-field .search-area p label {
          width: auto;
          padding-left: 2%;
          padding-right: 2%;
          height: 2.5rem;
          line-height: 2.5rem;
          display: block;
          float: left;
          text-align: center; }
        section.search div.search-field .search-area p input {
          width: 20%;
          height: 2.5rem;
          line-height: 2.5rem;
          float: left;
          border: 1px dashed #ccc;
          padding-left: .5%; }
        section.search div.search-field .search-area p input.search-btn {
          width: 4rem;
          height: 1.625rem;
          line-height: 1.625rem;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
          border-radius: 5px;
          background-image: -webkit-gradient(linear, center top, center bottom, from(#2CC2E7), to(#2CC2E7));
          background-image: -webkit-linear-gradient(top, #2CC2E7, #2CC2E7);
          background-image: -moz-linear-gradient(top, #2CC2E7, #2CC2E7);
          background-image: -o-linear-gradient(top, #2CC2E7, #2CC2E7);
          border: 1px solid #eee;
          float: right;
          margin-top: .421875rem;
          margin-right: 5.8%;
          color: #fff; }

section.trade-hub {
  max-width: 960px;
  height: 27.5rem;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: .5rem; }
  section.trade-hub div.trade-menu {
    width: 25%;
    height: 27.5rem;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #f5f5f5;
    float: left; }
    section.trade-hub div.trade-menu h2 {
      width: 100%;
      height: 2.5rem;
      line-height: 2.5rem;
      padding-left: 5%;
      border-bottom: 1px solid #f5f5f5; }
    section.trade-hub div.trade-menu div#trade_menu {
      width: 100%;
      height: 24.9rem;
      overflow-x: hidden;
      overflow-y: auto; }
  section.trade-hub div.trade-detail {
    width: 74.5%;
    height: 27.5rem;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #f5f5f5;
    float: left;
    margin-left: .5%; }
    section.trade-hub div.trade-detail ul {
      height: 27.4rem; }
      section.trade-hub div.trade-detail ul li {
        width: 100%;
        height: 1.7125rem;
        line-height: 1.7125rem;
        border-bottom: 1px solid #f5f5f5; }
    section.trade-hub div.trade-detail ul.trade-title {
      width: 25%;
      border-left: 1px solid #f5f5f5;
      float: left; }
      section.trade-hub div.trade-detail ul.trade-title li {
        padding-right: 15%;
        text-align: right; }
    section.trade-hub div.trade-detail ul.trade-content {
      width: 75%;
      border-left: 1px solid #f5f5f5;
      float: left; }
      section.trade-hub div.trade-detail ul.trade-content li {
        padding-left: 3%; }

footer {
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  margin-top: 1%; }
  footer span {
    max-width: 960px;
    height: 2rem;
    line-height: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    background-color: #f5f5f5;
    color: #ccc; }

/*# sourceMappingURL=index.css.map */
